<header class="bg-dark py-10">
  <div id="carouselExampleCaptions" class="carousel slide" data-mdb-ride="carousel">
      <div class="carousel-indicators">
          <button type="button" data-mdb-target="#carouselExampleCaptions" data-mdb-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-mdb-target="#carouselExampleCaptions" data-mdb-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-mdb-target="#carouselExampleCaptions" data-mdb-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="https://cdn.vseinstrumenti.ru/res/content/page_templates/bc68b0ee4b7b665c03194beef2b35dbe.jpeg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
              </div>
          </div>
          <div class="carousel-item">
              <img src="https://cdn.vseinstrumenti.ru/res/content/page_templates/7c088377f695d1d8aa9c30ec9d5e99f1.jpeg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
              </div>
          </div>
          <div class="carousel-item">
              <img src="https://cdn.vseinstrumenti.ru/res/content/page_templates/88212f9b11ec35794074b3805a933644.jpeg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
              </div>
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleCaptions" data-mdb-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleCaptions" data-mdb-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button>
  </div>
</header>
