{% extends "base.html" %}
{% block content %}
<div class="order-container">
    <h2 class="mb-4">Заказ от {{ order.created_at|date:"d.m.Y" }}</h2>
    <div class="row">
        <!-- Левая колонка с деталями заказа -->
        <div class="col-lg-8">
            <div class="order-details-card p-4 mb-3">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="fw-bold">Самовывоз</h5>
                    <p class="text-muted">№ {{ order.id }}</p>
                </div>
                <p class="text-muted">{{ order.delivery_date|date:"d.m.Y, H:i" }} - {{ order.delivery_end_time|date:"H:i" }}</p>
                <p><strong>Адрес доставки</strong></p>
                <p class="text-muted">{{ order.delivery_address }}</p>
                <p><strong>Получатель</strong></p>
                <p class="text-muted">{{ order.user.get_full_name }} {{ order.user.phone_number }}</p>

                <!-- Список товаров -->
                <div class="order-items mt-4">
                    {% for item in order.items.all %}
                    <div class="d-flex align-items-center mb-2">
                        <div class="order-item-image">
                            {% if item.product.image %}
                                <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="rounded me-2" width="60" height="60">
                            {% else %}
                                <img src="https://dummyimage.com/60x60/dee2e6/6c757d.jpg" alt="{{ item.product.name }}" class="rounded me-2" width="60" height="60">
                            {% endif %}
                        </div>
                        <div class="order-item-info flex-grow-1">
                            <a href="{{ item.product.get_absolute_url }}">
                                <p class="mb-0">{{ item.product.name }}</p>
                                <p class="text-muted mb-0">{{ item.quantity }} шт. — {{ item.get_total_price }} <i class="fa fa-rub" aria-hidden="true"></i></p>
                            </a>
                        </div>
                    </div>
                    {% if not forloop.last %}<hr>{% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Правая колонка с суммой заказа -->
        <div class="col-lg-4">
            <div class="order-summary-card p-4 shadow-sm">
                <h5 class="fw-bold mb-3">Ваш заказ</h5>
                <div class="order-summary">
                    <div class="d-flex justify-content-between mb-2">
                        <span>Товары</span>
                        <span>{{ order.total_price|floatformat:0 }} <i class="fa fa-rub" aria-hidden="true"></i></span>
                    </div>
                    <div class="d-flex justify-content-between text-danger mb-2">
                        <span>Скидки продавца</span>
                        <span>- {{ order.discount|floatformat:0 }} <i class="fa fa-rub" aria-hidden="true"></i></span>
                    </div>
                    {% if order.promo_code %}
                        <span>Промокод - {{ order.promo_code }}</span>
                    {% endif %}
                    <hr>
                    <div class="d-flex justify-content-between">
                        <span class="fw-bold">Итого</span>
                        <span class="fw-bold">{{ order.final_price|floatformat:0 }} <i class="fa fa-rub" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
